/* eddie huang
edhuang04@csu.fullerton.edu
salvador chavez
schavez95@csu.fullerton.edu
dylan lackey
schavez95@csu.fullerton.edu
cpsc-386 game development
project 1 */


body {
  text-align: center;
  font-family: sans-serif;
}
canvas {
  background-color: black;
}
